/**/
.n-wrapper {
    height: 10vh; /*vh - view point; 10%*/
    display: flex; /*giving space between*/
    justify-content: space-between; /* Distribute items evenly The first item is flush with the start, the last is flush with the end */
}

.n-left {
    display: flex;
    align-items: center;
    flex: 1;
    gap: 2rem; /*1rem = 16px*/
}

.n-name {
    font-size: 1rem;
    font-weight: bolder;
}

.n-right {
    flex: 1;
    gap: 2rem; 
    display: flex;
    justify-content: center;
    font-size: 400; /*normal weight*/
}

.n-list {
    flex: 10;
}

.n-list > ul {
    display: flex;
    gap: 2rem;
}

.n-list > ul :hover{
    cursor: pointer;
    color: var(--orange);
}

.n-button {
    flex: 2;
}
