.i-wrapper {
    display: flex;
    height: 77vh;
    margin-top: 6rem;
}

.i-left {
    flex: 1;
    display: flex;
    position: relative;
    flex-direction: column;
    gap: 2rem;
}

.i-name {
    display: flex;
    flex-direction: column;
}

.i-name>:nth-child(1){
    font-size: 2rem;
    font-weight: bold;
}

.i-name>:nth-child(2){
    font-size: 3rem;
    font-weight: bold;
    color: var(--orange)
}

.i-name>:nth-child(3){
    font-size: 16px;
    color: var(--gray)
}

.i-button {
    width: 6rem;
    height: 2rem;
}

.i-icons {
    display: flex;
    flex-direction: row;
    gap: 0rem;
    margin-top: 1rem;
}

.i-icons>* {
    transform: scale(0.5); /*scale to resize the element*/
}

.i-icons>*:hover {
    cursor: pointer;
}

.i-right {
    flex: 1;
    position: relative; /*relative to their parents*/
    
}

.i-right>* {
    position: absolute;
    z-index: 1;
}

.i-right>:nth-child(1){
    transform: scale(.7);
    top: -15%;
    right: 10%
}

.i-right>:nth-child(2){
    transform: scale(.6);
    top: -30%;
    right: 8%;
}

.i-right>:nth-child(3){
    transform: scale(1.2);
    left: 10%
}

.i-right>:nth-child(4){
    transform: scale(.7);
    top: -10%;
    left: -18%;
    border-radius: 50%;
}